extends layout

block content
  h1= title
  p Welcome to #{title}
  hr

  h3 User List
  br
  table
    thead
      tr
        th #
        th username
        th email
        th password
        th Edit / Delete
    tbody
      each user in users
        tr
          td=user.id
          td=user.username
          td=user.email
          td=user.password
          td
            button(class="edit-btn")
              a(href=`/${user.id}/edit` class="edit-a") Edit
            form(method="post" action=`/${user.id}` class="user-form")
              input(type="hidden" name="_method" value="DELETE")
              input(type="submit" class="del-btn" value="Delete")
  br
  br
  a(href="/new") New User
